body{
    font-family: sans-serif;
    background-color: #f0f0f0;
    background-image: url('newBackground.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.index a {
    color: darkblue;
    text-decoration: none; /* Remove underline */
}

.index a:hover {
    text-decoration: underline; /* Underline on hover */
}

